@{ 
    ViewBag.Title = "Home page";
}
<div>
    <a asp-controller="teacher" asp-action="index" class="btn btn-outline-primary btn-lg m-2 col-5">Teachers</a>
    <a asp-controller="pupil" asp-action="index" class="btn btn-outline-primary  btn-lg m-2 col-5 ">Pupils</a>
</div>